.App {
    padding-left: 2%;
    padding-right: 2%;
    /* float: left;
    width: 50%; */
}

button {
    height: 30px;
}

.showNetwork {
    color: rgb(8, 138, 138);
    font-size: 20px;
}

.contractInfo {
    padding: 10px;
    width: 100%;
    background-color: #61dafb;
    border-radius: 5px;
}

.contractInfo input {
    outline-style: none;
    width: 40%;
    height: 30px;
    border: 1px solid rgb(192, 186, 185);
    border-radius: 5px;
}

.contractInfo select {
    outline-style: none;
    width: 15%;
    height: 30px;
}

.contractInfo textarea {
    width: 98%;
    padding: 5px;
    max-width: 98%;
}

.exeOperate {
    margin-top: 20px;
}

.txResult {
    padding: 10px;
    background-color: rgb(60, 221, 168);
    border-radius: 5px;
}